# Dependencies
node_modules

# Nuxt
.nuxt
.output
.data
*.log
nuxt.d.ts
.nitro
.cache
dist

# Environment
.env
.env.*
!.env.local.example

# IDE / OS
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea
.vscode/*

# Misc
*.local
